body {
  position: relative;
  scroll-behavior: smooth;
}

.shoppingCartDiv {
  position: fixed;
  background-color: rgba(255, 255, 255);
  height: 80vh;
  width: 20vw;
  padding: 0.5rem 1.25rem 1.25rem 1.25rem;
  border: 2px solid black;
  box-shadow: 0 0 10px #000000;
  overflow: scroll;
}

.clossingX {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.25rem;
  margin: 0.625rem;
  width: 25px;
  height: 25px;
  text-align: right;
  bottom: 0;
}

.itemsInTheCart {
  margin: 20px;
}
